.homepage ul {
    display: flex;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.homepage ul li{
    padding: 1.5%;
    width: 45%;
    height: 120px;
    background-color: aqua;
    display: block;
    margin: 1%;
    background: url('../../images/first_home.png'); background-position: center; background-size: cover;
}

.homepage ul li:nth-child(2){
    background: url('../../images/second_home.png'); background-position: center; background-size: cover;
}
.homepage ul li:nth-child(3){
    background: url('../../images/third_home.png'); background-position: center; background-size: cover;
}
.homepage ul li:nth-child(4){
    background: url('../../images/fourth_home.png'); background-position: center; background-size: cover;
}
.homepage ul li:nth-child(5){
    background: url('../../images/fifth_home.png'); background-position: center; background-size: cover;
}

.homepage h3 {
    color: white;
    font-size: 36px;
    line-height: 0px;
    text-decoration: none;
}
.homepage h4 {
    color: white;
    font-size: 24px;
    line-height: 12px;
}

.homepage ul li a {
    text-decoration: none;
    text-align: right;
}

.homepage .myKameoblock {
    width: 100%;
}
.homepage ul .mykameo {
    width: 100%;
    min-height: 50px; height: 50px;
    background: url('../../images/kameo_back_large.png'); background-position: center; background-size: auto;
}
.homepage ul .mykameo a{
    text-align: center;
    margin-top: -10px;
    display: inline-block;
    width: 100%;
}
.loginForm {
    max-width: 50%;
    background-color: rgb(202, 216, 219);
    padding: 10px 10px 50px 10px;
    margin: auto;
    position: relative;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.loginForm input {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 90%;
    border: 0;
    padding: 10px 10px;
    margin: 10px auto;
    
}
.loginForm button {
    font-size: 16px;
    display: block;
    position: absolute;
    right: 30px;
    bottom: 10px;
    padding: 5px 20px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}