.mykameo h4 {
    color: #5392cd;
}
.mykameo ul li {
    position: relative;
}

.singleelements li {
    max-height: 40px;
    font-size: 14px;
    text-align: right;
    position: relative;
}
.singleelements li h5 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0px; padding: 0px;
}
.singleelements button, .mykameo button {
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    font-size: 14px;
}