.wrappersecondary ul {
    display: flex;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.wrappersecondary ul li{
    padding: 2%;
    width: 44%;
    height: 60px;
    background-color: aqua;
    display: block;
    margin: 1%;
    background: url('../../images/first_home.png'); background-position: center; background-size: cover;
    text-align: right;
    position: relative;
}


.wrappersecondary h3 {
    color: white;
    font-size: 36px;
    line-height: 0px;
    text-decoration: none;
}
.wrappersecondary h4 {
    color: white;
    font-size: 24px;
    line-height: 12px;
}

.wrappersecondary ul li a {
    text-decoration: none;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.wrappersecondary ul .mykameo {
    background: url('../../images/kameo_back_small.png'); background-position: center; background-size: cover;
}