.tertiary {
    position: relative;
}

.headerMyKameo {
    position: absolute;
    top: 22px; 
    left: 60px;
    color: white;
    font-size: 32px;
    line-height: 0px;
}

.tertiary h3 {
    display: inline-block;
    position: relative;
    right: 0px;
    bottom: 0px;
    color: #5392cd;
    font-size: 48px;

    margin: 0px; padding: 0px;
}
.tertiary h4 {
    color: #5392cd;
    margin: 10px 0px; padding: 0px;
}
.headerSecondary {
    position: relative;
    max-width: 67.5%;
}

.resourceIndex {
    background-color: #CBCDCE;
    position: absolute;
    top: -32px;
    right: 2.5%;
    padding: 2.5%;
    width: 25%;
}

.resourceIndex h3 {
    font-size: 24px;
    line-height: 22px;
    border-bottom: solid 1px white;
    width: 100%;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    -moz-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
   
}
.resourceIndex h3:after {
    content: " ";
    display: block;
    min-width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(148,138,148,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(148,138,148,1);
    box-shadow: 0px 2px 5px 0px rgba(148,138,148,1);
    z-index: 10;
}
.resourceList{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    -moz-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
}
.resourceLine {
    position: relative;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid white;
}
.resourceList h5 {
    color: #5392cd;
    font-size: 16px;
    max-width: 200px;
    position: relative;
    cursor: pointer;
}
.resourceCount{
    background-color: white;
    border-radius: 50%;
    width: 42px; height: 42px; 
    overflow: hidden;
    text-align: center;
    color: #5392cd;
    line-height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    -moz-box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
    box-shadow: 0px 7px 5px -5px rgba(148,138,148,1);
}
.resourceCount p{
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    height: 5px;
}

.filesSpan {
    font-size: 8px;
}

.boldText {
    font-weight: bold;
}
.assetList {
    width: 67.5%;
    display: flex;
    flex-wrap: wrap;
}
.video {
    background-color: rgb(78, 77, 77);
    width: 28%;
    margin: 1%;
    padding: 1%;
    color: white;
    min-height: 100px;
    align-items: flex-end;
    display: flex;
}
.video h5, .video h6 {
    line-height: 20px;
    margin: 0px;
    padding: 0px;
}

.video h5 {
    border-bottom: 1px solid white;
}
.video .titles {
    width: 100%;
    text-align: right;
}

.MyKameomain {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #5392cd;
    font-size: 24px;
}

.tertiaryList img {
    width: 95%;
}
.video {
    cursor: pointer;
}