body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  
  #root { 
    max-width: 1200px; 
    width:95%; 
  
  }
  
  .headerIcon{
    color: #fff;
    font-size: 32px;
    line-height: 0px;
    margin: 0px;
  }
  
  .app {
    position: relative;
  }
  
  header { 
    background: url('images/kameo_header.png'); 
    background-position: center;
     background-size: cover;
    padding: 2.5%;
    min-height: 200px;
    position: relative;
  }
  
  .wrapper h1{ 
    color: #fff;
    display: block;
    position: absolute;
    font-size: 48px;
    font-weight: lighter;
    right: 32px;
    bottom: 60px;
    -webkit-box-shadow: 0px 5px 6px -5px rgba(2,2,82,0.48);
    -moz-box-shadow: 0px 5px 6px -5px rgba(2,2,82,0.48);
    box-shadow: 0px 5px 6px -5px rgba(2,2,82,0.48);
  }
  
  .wrapper h3{ 
    color: #fff;
    display: block;
    position: absolute;
    font-size: 20px;
    font-weight: lighter;
    right: 32px;
    bottom: 30px;
  }